<li>
    <input devoured='{{devoured}}' class="clicked" type="checkbox" id="{{burger_id}}">
    <label for="{{burger_name}}">{{burger_name}}</label>
</li>

{{!-- <li>
    {{this.burger_name}}
    <form action="/" method="POST">
        <input type="hidden" name="devoured" value="true">
        <button class="btn" type="submit">Devour It!</button>
    </form>
</li> --}}